body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 100%;
    background-color: #f4f5ef;
    color: #000;
}

header{
    background-color:#d3d3d3;
}

nav img{
    top: 20px;
    position: relative;
}

ul{
    color: white;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

a:visited{
    color: purple;
}



main{
    background-color: yellow;
    font-size: 150%;
}

footer{
    background-color: #e3e4dc;
}

h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    text-align: center;
    color: #000;
    padding-bottom: 10px;
}

.grid-container{
    background-color: yellow;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
    align-items:stretch;
}

.grid-container img{
    width: 100%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
}

.flex-container img{
    width: 18%;
}


/* li{
    display: inline-block;
    width: 30%;
} */